<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.domarvel.dao.ResRoleMapper">
    <select id="findAllRolesByRes" resultType="cn.domarvel.po.Role">
        SELECT role.rname FROM `res`,`role`,`res_role` WHERE res.res_id=res_role.res_id and role.rid = res_role.r_id and res.res_url=#{res_url}
    </select>
</mapper>