<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.domarvel.dao.envelopedao.EnvelopeMapper">
    <insert id="saveEnvelope">
        INSERT INTO envelope(wishCode,receiveMan,envelopeAim,sendMan,dearMan,message,receiveManEmail,sendManEmail) VALUES (#{wishCode},#{receiveMan},#{envelopeAim},#{sendMan},#{dearMan},#{message},#{receiveManEmail},#{sendManEmail})
    </insert>
    <select id="countEnvelopeByWishCode" resultType="int">
        SELECT count(wishCode) FROM envelope WHERE wishCode = #{wishCode}
    </select>
    <select id="findEnvelopeByWishCode" resultType="cn.domarvel.pocustom.EnvelopeCustom">
        SELECT wishCode,receiveMan,envelopeAim,sendMan,dearMan,message,receiveManEmail,sendManEmail FROM envelope WHERE wishCode = #{wishCode}
    </select>
    <select id="findSendManEmailByWishCode" resultType="String">
        SELECT sendManEmail FROM envelope WHERE wishCode = #{wishCode}
    </select>
    <select id="findReceiveManEmailByWishCode" resultType="String">
        SELECT receiveManEmail FROM envelope WHERE wishCode = #{wishCode}
    </select>
    <update id="updateEnvelope">
        UPDATE envelope set receiveMan = #{receiveMan},envelopeAim = #{envelopeAim},sendMan = #{sendMan},dearMan = #{dearMan},message = #{message},receiveManEmail = #{receiveManEmail},sendManEmail = #{sendManEmail} WHERE wishCode = #{wishCode}
    </update>
</mapper>